body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;
  box-shadow: 0px 10px 37px -13px rgba(0, 0, 0, 0.35);
  color: grey;
}

.logo img {
  width: 150px;
}

.header a {
  float: left;
  color: grey;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  color: black;
}

.header a:active {
  color: black;
}

.header-right {
  float: right;
  margin-top: 20px;
}

.footer {
  overflow: hidden;
  background-color: #2f3543;
  padding: 20px 10px;
  color: #b4b4b4;
  margin-top: 100px;
}

.footer a {
  float: left;
  color: #b4b4b4;
  text-align: center;
  padding-left: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
}

.footer a:hover {
  color: white;
}

.footer a:active {
  color: white;
}

.footer-right {
  float: right;
}

.left-right-line {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.left-right-line::after, .left-right-line::before {
  content: '';
  width: 40%;
  height: 1px;
  position: absolute;
  background: gray;
  top: 9px;
}

.left-right-line::after {
  left: 0px;
}

.left-right-line::before {
  right: 0px;
}

.container {
  margin: 80px auto 0;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 10px 37px -13px rgba(0, 0, 0, 0.35);
}

@media (min-width: 1250px) {
  .container {
    width: 53%;
    height: 650px;
  }
  .container .login {
    padding: 0 5vw;
    height: 650px;
  }
  .container .pic {
    height: 650px;
  }
  .container .h2-reg {
    font-size: 18px;
    width: 50%;
  }
  .container .line {
    width: 50%;
  }
  .container .btn {
    width: 37%;
    padding: 10px 8px;
  }
  .container .btn.fb, .container .btn.google {
    font-size: 15px;
  }
}

@media (max-width: 1249px) {
  .container {
    width: 80%;
    height: 650px;
  }
  .container .login {
    padding: 0 7vw;
    height: 650px;
  }
  .container .pic {
    height: 650px;
  }
  .container .h2-reg {
    font-size: 18px;
    width: 50%;
  }
  .container .line {
    width: 50%;
  }
  .container .btn {
    width: 42%;
    padding: 10px 8px;
  }
}

.container .btn.fb, .container .btn.google {
  font-size: inherit;
}

@media (max-width: 795px) {
  .container {
    width: 100%;
    height: 655px;
  }
  .container .login {
    padding: 0 3vw;
    height: 655px;
  }
  .container .pic {
    height: 655px;
  }
  .container .h2-reg {
    font-size: 18px;
    width: 50%;
  }
  .container .line {
    width: 50%;
  }
  .container .btn {
    width: 45%;
  }
}

@media (max-width: 475px) {
  .container, .container .login, .container .pic {
    height: 700px;
  }
  .container .h2-reg {
    font-size: 18px;
    width: 50%;
  }
  .container .line {
    width: 50%;
  }
  .container .pic img {
    width: 100%;
  }
  .container .btn {
    font-size: 11px;
    padding: 5px 4px;
    height: 35px;
    width: 80%;
    margin-bottom: 10px;
  }
}

.container .btn.fb, .container .btn.google {
  font-size: inherit;
}

.container .login {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  width: 60%;
  background: #fefefe;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .sth {
  width: 100%;
  position: relative;
  height: 70px;
}

.container .h2-reg {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 26px;
  text-align: center;
  margin: 20px 0;
  padding: 0 1vw;
  box-sizing: border-box;
}

.container .line {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  margin: 20px 0;
  height: 26px;
}

.container .line span {
  content: '';
  background: #0800ff;
  height: 3px;
  width: 95%;
  position: absolute;
  top: 50%;
  transform: translateY(-3px);
  text-align: center;
  right: 0;
}

.container .pic {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  width: 40%;
  background: #0800ff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1vw 3vw;
  color: #efefef;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 1510;
}

.container .enter-data {
  width: 100%;
  padding: 8px 20px;
  box-sizing: border-box;
  background: lightgrey;
  border: none;
  border-radius: 3px;
  margin: 8px 0;
}

.container .btn {
  border: none;
  border-radius: 3px;
  margin-right: 2vw;
  cursor: pointer;
}

.container .btn a {
  text-decoration: none;
  color: black;
}

.btn.fb, .btn.google {
  min-width: 150px;
  width: 90%;
  height: 45px;
  font-size: 17px;
  display: block;
  margin: 10px auto;
  border-radius: 15px;
}

.btn.fb {
  background: #3b5998;
  color: white;
}

.btn.google {
  background: #e0e0e0;
}
