{% extends "layaout.html" %}

{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='styles/auth/changedPassword.css')}}">{% endblock style %}
{% block title %}{% endblock title %}


{% block content %}
<script type="text/babel">
    class App extends React.Component {
        render() {
            return (
             <div class="container">
                <h1><i>Twoje hasło zostało zmienione</i> <br/>
                Sprawdź swoją skrzynkę Mailową.</h1>
             </div>
            )
        }
    }
    ReactDOM.render(<App/>, document.getElementById('App'));
</script>
{% endblock content %}