{% extends "layaout" %}

{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='styles/auth/changePassword.css')}}">{% endblock style %}
{% block title %}<title>Zmiana hasła</title>{% endblock title %}

{% block content %}
    <script type="text/babel">
        class App extends React.Component {
            render() {
                return (
            <div class="container">
                <div class="pic"><br />
                    <img src="{{url_for('static', filename='./assets/images/serca.png')}}" alt=""/>
                    <h3>Bezpieczeństwo</h3>
                    <p>Zarządzaj opcjami bezpieczeństwa aby lepiej zabezpieczyć swoje konto.</p>
                </div>
                <form action="zmien.html" class="login">
                    <div class="sth">
                    <div class="h2-reg">Zmień Hasło</div><div class="line"><span></span></div>
                    </div>

                    <label for="psw">Aktualne Hasło</label>
                    <input class="enter-data" type="password" placeholder="" name="psw" required/>

                    <label for="psw">Nowe Hasło</label>
                    <input class="enter-data" type="password" placeholder="" name="psw" required/>

                    <label for="psw-repeat">Potwierdź Nowe Hasło</label>
                    <input class="enter-data" type="password" placeholder="" name="psw-repeat" required/>
                    <div class="sth">
                    </div>

                    <button type="submit" class="btn"><a href="zmien.html"></a>Potwierdź</button>
                    <button class="btn" ><a href="user.html">Anuluj</a></button>
                </form>
            </div>
                )
            }
        }
        ReactDOM.render(<App/>, document.getElementById('App'));
    </script>
{% endblock content %}