{% extends "layout.html" %}

{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='styles/afterRegister.css')}}">{% endblock style %}
{% block title %}{% endblock title %}


{% block content %}
<script type="text/babel">
    class App extends React.Component {
        state = {
            elements:[],
            howManyChildren:''
        }

        componentDidMount()  {
            let elem = document.querySelectorAll('.po-rejestracji-elem');
            this.setState({
                elements: elem
            })
        }

        handleClick = (thisElem, nextElem) => {
            let elem = this.state.elements;
            elem[thisElem].classList.toggle('--active');
            elem[thisElem].classList.toggle('--deactive');       
            elem[nextElem].classList.toggle('--active');
        }      

        handleInput = (e) => {
            let inputs = document.querySelectorAll('.how-many-children input');
            inputs.forEach( (e) => {
                if(e.checked) {
                    e.parentNode.style.background="#0800ff";  
                    this.setState({
                        howManyChildren:e.value
                    })                 
                    
                }
                else{
                    e.parentNode.style.background="#fefefe";                 
                }
            })
        }

        handleInput2 = (e) => {
            let inputs = document.querySelectorAll('.select-gender input');
            inputs.forEach( (e) => {
                if(e.checked) {
                    e.parentNode.style.background="#0800ff";                   
                }
                else{
                    e.parentNode.style.background="#fefefe";                 
                }
            })
        }

        handleInput3 = (e) => {
            let inputs = document.querySelectorAll('.select-offer input');
            inputs.forEach( (e) => {
                if(e.checked) {
                    e.parentNode.style.background="#0800ff";
                    e.parentNode.style.color="#fefefe";
                }
                else{
                    e.parentNode.style.background="#fefefe";
                    e.parentNode.style.color="black";
                }
            })
        }

        render() {  

           const whatGender = [];
                for(let i=1; i<=this.state.howManyChildren; i++) {
                    let name = 'kid_'+i;
                    whatGender.push(
                        <div className="select-gender" key={i}>
                     <p>{i}</p>
                     <img src="{{url_for('static', filename='assets/images/baba.png')}}" alt=""/>
                     <img src="{{url_for('static', filename='assets/images/chlop.png')}}" alt=""/>
                     <label><input type="radio" name={name} onClick={this.handleInput2}/></label>
                     <label><input type="radio" name={name} onClick={this.handleInput2}/></label>
                 </div>
                    )
                }
            return(
<div className="nie-wiem">
    <form>
        <div  className="po-rejestracji-elem --active">
            <div className="po-rejestracji">
                <div className="po-rejestracji-up">
                </div>

                <div className="po-rejestracji-down">
                    <h1>Witaj! </h1>
                    <p>Nim przejdziemy dalej pozwól, że zapytamy Cię o kilka rzeczy.
                    Pozwoli nam to znaleźdź oferty specjalne dla Ciebie!</p>
                <input  type="button" className="button" value="Dalej!" onClick={() => { this.handleClick(0,1)}}/>
                </div>
            </div>
        </div>

        <div  className="po-rejestracji-elem" >
            <div className="po-rejestracji-2">
                <div className="po-rejestracji-2-up">
                    <img src="{{url_for('static', filename='./assets/images/ludz.png')}}" alt=""/>
                    <h2>Dzieci</h2>
                    <p>Określ proszę ile masz dzieci</p>
                 </div>
                
                <div className="po-rejestracji-2-down">
                    <h3 className="line-here">Ile masz pociech?</h3>   
                    <div className="wrap-h-m-c">
                        <label className="how-many-children" ><input type="radio" name="dzieci" value='1'onClick={this.handleInput}/></label>
                        <label className="how-many-children"><input type="radio" name="dzieci" value='2' onClick={this.handleInput}/></label><br/>
                        <label className="how-many-children"><input type="radio" name="dzieci" value='3' onClick={this.handleInput}/></label>
                        <label className="how-many-children"><input type="radio" name="dzieci" value='4' onClick={this.handleInput}/></label><br/>
                        <label className="how-many-children"><input type="radio" name="dzieci" value='5' onClick={this.handleInput}/></label>
                        <label className="how-many-children"><input type="radio" name="dzieci" value='6' onClick={this.handleInput}/></label><br/>
                        <label className="how-many-children"><input type="radio" name="dzieci" value='7' onClick={this.handleInput}/></label>
                        <label className="how-many-children"><input type="radio" name="dzieci" value='8' onClick={this.handleInput}/></label><br/>
                    </div>
                    <input type="button" className="button" value="Dalej" onClick={() => { this.handleClick(1,2)}}/>
                </div>       
            </div>
        </div>

        <div  className="po-rejestracji-elem">
            <div className="po-rejestracji-2">
                <div className="po-rejestracji-2-up">
                     <img src="{{url_for('static', filename='assets/images/ludz.png')}}" alt=""/>
                    <h2>Płeć</h2>
                    <p>Określ płeć dzieci</p>            
                </div>
    
                <div className="po-rejestracji-2-down">
                    <h3 className="line-here">Jakiej są płci?</h3>

                <div id="E">
                    {whatGender}
                </div>

                    <input type="button" className="button" value="Dalej" onClick={() => { this.handleClick(2,3)}}/>
                </div>       
            </div>
        </div>

        <div  className="po-rejestracji-elem">
            <div className="po-rejestracji-2">
                <div className="po-rejestracji-2-up">
                    <img src="{{url_for('static', filename='assets/images/ludz.png')}}" alt=""/>
                        <h2>Zainteresowania</h2>
                        <p>Zaznacz typy ofert, które Cię najbardziej interesują</p>
                </div>
        
                <div className="po-rejestracji-2-down">
                    <h3 className="line-here">Typy ofert</h3>
                    <div className="select-offers">
                        <label className="select-offer"><input type="checkbox" name="select-interest" value='1' onClick={this.handleInput3}/>Zabawki</label>
                        <label className="select-offer"><input type="checkbox" name="select-interest" value='2' onClick={this.handleInput3}/>Rozrywka</label>
                        <label className="select-offer"><input type="checkbox" name="select-interest" value='3' onClick={this.handleInput3}/>Podroze</label>
                        <label className="select-offer"><input type="checkbox" name="select-interest" value='4' onClick={this.handleInput3}/>Ciaza</label>
                        <label className="select-offer"><input type="checkbox" name="select-interest" value='5' onClick={this.handleInput3}/>Akcesoria</label>
                        <label className="select-offer"><input type="checkbox" name="select-interest" value='6' onClick={this.handleInput3}/>Edukacja</label>
                        <label className="select-offer"><input type="checkbox" name="select-interest" value='7' onClick={this.handleInput3}/>Sport</label>
                        <label className="select-offer"><input type="checkbox" name="select-interest" value='8' onClick={this.handleInput3}/>Kupony</label>
                    </div>
                    <input type="button" className="button" value="Dalej" onClick={() => { this.handleClick(3,4)}}/>                
                </div>       
            </div>
        </div>

        <div  className="po-rejestracji-elem">
            <div className="po-rejestracji">
                <div className="po-rejestracji-up"></div>
                <div className="po-rejestracji-down">
                    <h1>Gotowe!</h1>
                    <p>Teraz możesz cieszyć się z pełni funkcjonalności serwisu CoZa500Plus.pl</p>           
                    <button className="button">Dalej!</button>
                </div>
            </div>
        </div>
    </form>
 </div>
            )
        }
    }
    ReactDOM.render(<App/>, document.getElementById('App'));
</script>
{% endblock content %}