{% extends "layout.html" %}
 
{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='styles/cooperation.css')}}">{% endblock style %}
{% block title %}<title>Jakiś tytuł</title>{% endblock title %}
 
 
{% block content %}
<script type="text/babel">
    class App extends React.Component {
        render() {
            return (
                <div className="container">
                    <div className="left-top-text">
                        <h1>Zostań naszym  <b>partnerem.</b> Zgarniaj <b>korzyści</b>...  </h1>
                        <h5>Dołączając do naszych partnerów zyskujesz wiele korzyści. Zostając naszym partnerem masz szanse na promocję oraz otrzymujesz dostęp do specjalnych ofert przeznaczonych wyłącznie dla ciebie!</h5>
                    </div>
                    <div className="right-top-img">
                        <img src="{{url_for('static', filename='assets/images/icon4.png')}}" alt=""/>
                    </div>
                    <div className="section">
                        <img src="{{url_for('static', filename='assets/images/icon3.png')}}" alt=""/>
                        <h4>Pojaw się w sekcji naszych partnerów!</h4>
                    </div>
                    <div className="section">
                        <img src="{{url_for('static', filename='assets/images/icon2.png')}}" alt=""/>
                        <h4>Bierz udział w wyjątkowych akcjach rabatowych!</h4>
                    </div>
                    <div className="section">
                        <img src="{{url_for('static', filename='assets/images/icon1.png')}}" alt=""/>
                        <h4>Reklamuj się u nas!</h4>
                    </div>
                    <button className="btn">Dowiedz się więcej!</button>
                </div>
            )
        }

    }
    ReactDOM.render(<App/>, document.getElementById('App'));
</script>

{% endblock content %}