{% extends "layout.html" %}
 
{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='styles/forMedias.css')}}">{% endblock style %}
{% block title %}<title>Jakiś tytuł</title>{% endblock title %}
 
 
{% block content %}
<script type="text/babel">
    class App extends React.Component {
    render() {
        return ( 
<main>  
    <div className="container">
        <div className="grid">
            <div className="first-elem">
                <h1>DLA MEDIÓW</h1>
                <h2 className="left-align">Prowadzisz bloga, stronę lub jesteś dziennikarzem? Skorzystaj z
                naszych grafik promocyjnych wysokiej jakości.</h2>
                <p>Kontakt: kontakt@coza500plus.pl</p>
                <a download href="{{url_for('static', filename='files/co_za_500_plus-dla_mediow.zip')}}"><h3 className="with-icon">Pobierz paczkę zip z materiałami</h3></a>
            </div>
            <div className="first-elem">
                <img src="{{url_for('static', filename='assets/images/MASZYNA-kopia.svg')}}" alt="Maszyna"/>
            </div>
        </div>

        <div className="second-elem">
            <div className="violet-color bottom-line">
                <h2>Lub</h2>
                <h1>Pobierz indywidualnie</h1>
            </div>

            <div className="img-to-down"> 
                <a download href="Logo-Standard No bg.png">
                    <h2>Logo-Standard No bg.png</h2>
                    <img src="{{url_for('static', filename='assets/images/Logo-Standard No bg.png')}}" alt="Logo-Standard No bg.png"/>
                </a>
            </div> 
            <div className="img-to-down"> 
                <a download href="Background-Purple.png">
                    <h2>Background-Purple.png</h2>
                    <img src="{{url_for('static', filename='assets/images/Background-Purple.png')}}" alt="Background-Purple.png"/>
                </a>
            </div> 
            <div className="img-to-down"> 
                <a download href="tlo.png">
                    <h2>tlo.png</h2>
                    <img src="{{url_for('static', filename='assets/images/background.png')}}" alt="tlo.png"/>
                </a>
            </div> 
            <div className="img-to-down"> 
                <a download href="ikona-mobilna.png">
                    <h2>Banner2.png</h2>
                    <img src="{{url_for('static', filename='assets/images/icon-mobile.png')}}" alt="ikona-mobilna.png"/>
                </a>
            </div>
            <div className="img-to-down"> 
                <a download href="Banner2.png">
                    <h2>Banner2.png</h2>
                    <img src="{{url_for('static', filename='assets/images/Banner2.png')}}" alt="Banner2.png"/>
                </a>
            </div> 
            <div className="img-to-down"> 
                <a download href="Banner1.png">
                    <h2>Banner1.png</h2>
                    <img src="{{url_for('static', filename='assets/images/Banner1.png')}}" alt="Banner1.png"/>
                </a>
            </div> 
        </div>
    </div>
</main> 
        )
    }            
}
    ReactDOM.render(<App/>, document.getElementById('App'));
</script>
{% endblock content %}