<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% block style %}{% endblock style %}
    {% block title %}{% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='scripts/react.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/reactDom.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/babelScript.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/fonts/fonts.css')}}">
</head>
<body>
    <header>
        <div class="header">
            <a href="#default" class="logo"><img src="{{url_for('static', filename='assets/images/logo.png')}}"></a>
            <div class="header-right">
                <a href="#home">O Nas</a>
                <a href="#contact">Kontakt</a>
                <a href="#about">Logowanie</a>
            </div>
        </div>
    </header>
<div id="App">  
</div>                  
    <footer>
        <div class="footer">
            <a>CoZa500Plus.pl</a>
            <div class="footer-right">
                <a href="#home">O Nas</a>
                <a href="#contact">Kontakt</a>
                <a href="#about">Logowanie</a>
            </div>
        </div>
    </footer>
    {% block content %}
    
    {% endblock content %}
</body>
</html>