{% extends "layout.html" %}
 
{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='styles/userEdytuj.css')}}">{% endblock style %}
{% block title %}<title>Edytuj profil</title>{% endblock title %}
 
 
{% block content %}
<script type="text/babel">

    class App extends React.Component {

        render() {      

            return(
<div className="edit-data">
        <h2>Edytuj dane</h2>
        <label className="edit-img"><input type="file"/><img src=""/></label>
        <p>Nazwa</p>
        <input type="text"/><br/>
        <div className="sth">
            <input id="m" type="radio" name="plec" value='m' />
            <label for="m" className="sex">Mężczyzna</label>
            <input id="k" type="radio" name="plec" value='k'/> 
            <label for="k" className="sex">Kobieta</label><br/>
        </div>
        <a href="#"><input type="button" className="button change-pass" value="Zmień hasło"/></a>
        <a href="../user-main/user.html"><input type="button" value="Anuluj" className="button"/></a>
        <button className="button">Zatwierdz</button>
</div>
            )
        }
    }
    
    ReactDOM.render(<App/>, document.getElementById('App'));

</script>
{% endblock content %}

