{% extends "layout.html" %}

{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='styles/userMain.css')}}">{% endblock style %}
{% block title %}<title>Profil użytkownika</title>{% endblock title %}
 
 
{% block content %}
<script type="text/babel">

    className App extends React.Component {

        handleClick1 = () => {
            let elem = document.querySelector('.edit-interests');
            let elem2= document.querySelector('.user');
            elem2.classList.toggle('stealth')
            elem.classList.toggle('disabled')
            
        }  

         handleClick2 = (e) => {
           console.log(e.target)
            if(e.target.checked) {
                e.target.parentNode.style.backgroundColor='blue';
            }
            
        } 

        handleChange = (e) => {
            if(e.target.checked) {
                e.target.parentNode.style.backgroundColor='blue';
                console.log(e.target.checked);
                console.log("CHECED");
            }

            else{
                e.target.parentNode.style.backgroundColor='lightgray';
                console.log(e.target.checked);
                console.log("NOT CHECED");
            }
        }

        render() {      

            return(
<div className="nie-wiem">
    <h2 className="h1">Profil Użytkownika</h2>   
    <div className="user">  
    <div className="user-description">
        <img src="{{url_for('static', filename='./assets/images/twarz.png')}}"/>
        <h4>O mnie:</h4>
        <p>Opis przykładowy Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet excepturi adipisci magnam repellat fugit lorem</p>
    </div>

    <div className="user-interests">
        <h2>Witaj <b>Sample User</b></h2>
        <h5> Zainteresowania: </h5>
        <div className="wrapped-interests">
            <div className="interest">
                <div className="emoji">🍓</div>Zywnosc
            </div>
            <div className="interest">
                <div className="emoji">🧸</div>Zabawki
            </div>
            <div className="interest">
                <div className="emoji">✈️</div>Podroze
            </div>
            <div className="interest">
                <div className="emoji">👲🏼</div> Papiez
            </div>
            <div className="interest">
                <div className="emoji">👲🏼</div> Papiez
            </div>
            <div className="interest">
                <div className="emoji">👲🏼</div> Papiez
            </div>
            <div className="interest">
                <div className="emoji">👲🏼</div> Papiez
            </div>
        </div>
      
      <div className="ustawienia-usera">
        <a href="../dzieci/dzieci.html"  >Dzieci</a><br/>
        <a href="../edytuj-dane/edytuj_dane.html">Edytuj Dane</a><br/>
        <a href="polubienia.html"  >Polubione</a><br/>
        <a href="premium.html"  >Konto Premium</a><br/>
        <a href="Wyloguj.html"  >Wyloguj</a><br/>
      </div>
      
      <div className="edit" onClick={this.handleClick1}>Edytuj Zainteresowania </div>
  </div>

</div>



<div className="edit-interests disabled">
    <h2>Edytuj Zainteresowania</h2>

    <div className="interests">
        <input type="text" placeholder="🔦"/><br/>
        <div className="linia"></div>
        
    <form>
        <div className="all-interests">
        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
            <input type="checkbox" name="interest" value="1"/>
            🍎 Żywność
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="2"/>
            ⚽ Sport 
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="3"/>
            🎮 Gry   
        </label>
        <label className="single-interest">
            <input type="checkbox" name="interest" value="4"/>
           ✈️ Podróże 
        </label>

        <label className="single-interest">
                <input type="checkbox" name="interest" value="1"/>
                🍎 Żywność

            </label>
            <label className="single-interest">
                <input type="checkbox" name="interest" value="2"/>
                ⚽ Sport 
            </label>
            <label className="single-interest">
                <input type="checkbox" name="interest" value="3"/>
                🎮 Gry   
            </label>
            <label className="single-interest">
                <input type="checkbox" name="interest" value="4"/>
               ✈️ Podróże 
            </label>

            <label className="single-interest">
                    <input type="checkbox" name="interest" value="1"/>
                    🍎 Żywność
                
                </label>
                <label className="single-interest">
                    <input type="checkbox" name="interest" value="2"/>
                    ⚽ Sport 
                </label>
                <label className="single-interest">
                    <input type="checkbox" name="interest" value="3"/>
                    🎮 Gry   
                </label>
                <label className="single-interest">
                    <input type="checkbox" name="interest" value="4"/>
                   ✈️ Podróże 
                </label>

                <label className="single-interest">
                        <input type="checkbox" name="interest" value="1"/>
                        🍎 Żywność
        
                    </label>
                    <label className="single-interest">
                        <input type="checkbox" name="interest" value="2"/>
                        ⚽ Sport 
                    </label>
                    <label className="single-interest">
                        <input type="checkbox" name="interest" value="3"/>
                        🎮 Gry   
                    </label>
                    <label className="single-interest">
                        <input type="checkbox" name="interest" value="4"/>
                       ✈️ Podróże 
                    </label>  
            </div> 

            <input type="button" value="Anuluj" className="button" onClick={this.handleClick1}/>
         <input type="submit" value="Zatwierdź" className="button"/>
        </form>      
        
     </div> 
    </div>

   

</div>
            )
        }
    }
    
    ReactDOM.render(<App/>, document.getElementById('App'));

</script>
{% endblock content %}

