{% extends "layout.html" %}
 
{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='styles/userDzieci.css')}}">{% endblock style %}
{% block title %}<title>Jakiś tytuł</title>{% endblock title %}
 
 
{% block content %}
<script type="text/babel">

    class App extends React.Component {

        handleClick1 = () => {
            let elem = document.querySelector('.edit-interests');
            console.log(elem);
            elem.classList.toggle('visible')
            
        }  

         handleClick2 = (e) => {
           console.log(e.target)
            if(e.target.checked) {
                e.target.parentNode.style.backgroundColor='blue';
            }
            
        } 

     

        render() {      

            return(
<div className="edit-children">
    <form >
    <h2>Dzieci</h2>
    <div className="wrape-kids">
        <div className="search-child">
            <div className="wrap-input">
                <input type="text" id="search" placeholder="✏️"/>
            </div>
            <div className="kids">
                <input type="button" className="kid" value="🙉 Maciej"/>
                <input type="button" className="kid" value="🍌 Kacper"/>
                <input type="button" className="kid" value="👨🏿‍🦰Jan"/>
                <input type="button" className="kid" value="👮‍♂️Paweł"/>
            </div>
        </div>

        <div className="edit-child">
            <h2>🙉 Maciek</h2>

            <p>Płeć:</p>
            <select name="plec" id="plec">
                <option value="m">Mężczyzna</option>
                <option value="k">Kobieta</option>
                <option value="n">Nieokreślona</option>
            </select>

            <p>Wiek:</p>
            <select name="wiek" id="wiek">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <p>Wzrost:</p>
                <select name="wzrost" id="wzrost">
                    <option value="11">11</option>
                    <option value="22">22</option>
                    <option value="33">33</option>
                    <option value="44">44</option>
                </select>

            <p>Rozmiar buta:</p>
            <select name="rozmiar-buta" id="rozmiar-buta">
                <option value="11">11</option>
                <option value="22">22</option>
                <option value="33">33</option>
                <option value="44">44</option>
            </select>
        </div>
    </div> 
    
    <a href="../user-main/user.html"><input type="button" value="Anuluj" className="button"/></a>
    <input type="submit" value="Zatwierdź" className="button"/>
    </form>
</div>
            )
        }
    }
    
    ReactDOM.render(<App/>, document.getElementById('App'));

</script>
{% endblock content %}

