@charset "UTF-8";
body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;
  box-shadow: 0px 10px 37px -13px rgba(0, 0, 0, 0.35);
  color: grey;
}

.logo img {
  width: 150px;
}

.header a {
  float: left;
  color: grey;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  color: black;
}

.header a:active {
  color: black;
}

.header-right {
  float: right;
  margin-top: 20px;
}

.footer {
  overflow: hidden;
  background-color: #2f3543;
  padding: 20px 10px;
  color: #b4b4b4;
  margin-top: 100px;
}

.footer a {
  float: left;
  color: #b4b4b4;
  text-align: center;
  padding-left: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
}

.footer a:hover {
  color: white;
}

.footer a:active {
  color: white;
}

.footer-right {
  float: right;
}

#filling-form {
  width: 65vw;
  min-height: 120px;
  background-color: #eeeeee;
  display: center;
  margin-top: center;
  border-radius: 10px;
}

/* O NAS */
.h1 {
  margin: 10 auto;
  text-align: center;
}

.user {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  position: relative;
  height: 500px;
  box-shadow: 0px 10px 37px -13px rgba(0, 0, 0, 0.35);
}

.user-description {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  width: 35%;
  background: #2c186b;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2.5vw;
  color: #efefef;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-description img {
  border-radius: 100px;
  background: #efefef;
  margin-top: 20px;
}

.user-description p {
  text-align: left;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  overflow: auto;
}

.user-description h4 {
  text-align: left;
  border-bottom: 1px solid #efefef;
  width: 65%;
  margin: 0;
  margin-bottom: 10px;
}

.user-interests {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  width: 65%;
  background: #fefefe;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  padding: 0 15px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-interests .wrapped-interests {
  height: 150px;
  overflow: auto;
}

.interest {
  background: lightgray;
  border-radius: 5px;
  width: 120px;
  margin-top: 10px;
  text-align: center;
  padding: 3px;
  position: relative;
}

.emoji {
  position: absolute;
  left: 3px;
  border-radius: 100px;
  width: 15px;
}

.ustawienia-usera {
  text-align: right;
  border-bottom: 2px solid #2c186b;
  padding-bottom: 8px;
  margin: 25px 0px;
}

.ustawienia-usera a {
  text-decoration: none;
  color: gray;
}

.edit {
  margin-top: 10px;
  width: 208px;
  position: relative;
  cursor: pointer;
}

.edit::after {
  content: '⚙️';
  position: absolute;
  right: 0;
  border-radius: 100px;
  width: 15px;
  text-align: center;
}

/* O NAS > Wybierz zainteresowania */
.edit-interests {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  position: relative;
  height: 680px;
  box-shadow: 0px 10px 37px -13px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  background: #fefefe;
  padding: 10px;
  text-align: right;
  z-index: 2;
  display: block;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 300px 200px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 300px 200px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 300px 200px rgba(0, 0, 0, 0.75);
}

.disabled {
  display: none;
}

.stealth {
  opacity: 0;
}

.edit-interests h2:first-child {
  border-bottom: 3px solid #0800ff;
  width: 70%;
  margin: 0 auto 10px;
  text-align: center;
}

.interests {
  background: #e3e3e3;
  height: 500px;
  padding: 10px;
  border-radius: 5px;
}

.interests input[type=text] {
  border-radius: 10px;
  border-color: #0800ff;
  padding: 3px;
  margin-bottom: 20px;
}

.all-interests {
  text-align: center;
  height: 460px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.single-interest {
  display: inline-block;
  width: 170px;
  height: 30px;
  margin: 10px;
  background: lightgray;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.single-interest input[type=checkbox] {
  display: none;
}

.linia {
  width: 92%;
  height: 3px;
  background: gray;
  margin: 0 auto;
}

.edit-interests input[type=submit] {
  right: 15px;
  bottom: 15px;
}

.interests input[type=button] {
  left: 15px;
  bottom: 15px;
}

.button {
  position: absolute;
  border: 1px solid gray;
  background: #fefefe;
  color: #2c186b;
  width: 8vw;
  min-width: 125px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}
